.center{
  text-align:center;
}
.mini{
  border:1px solid darkred;
}
  .navbar {
      margin-bottom: 0;
      border-radius: 0;
    }

    footer {
      background-color: black;
      padding:25px;
      color:white;
      clear:left;
      margin-bottom:0;
    }


#iletisim li{
  width:30%;
  list-style-type:none;
  float:left;
}
#iletisim li i{
  font-size:50px;
  margin-left:10px;
}
#iletisim a{

 color:black;
  text-decoration:none;
  font-size:25px;
}
#back{
 
background-image: url("http://ahmeterdgn.tk/img/phone.png");
background-position: center; 
  background-repeat: no-repeat; 
  background-size: cover; 
}
#gorsel{
   width: 280px !important;
   height: 500px;
   margin-top:100px;
    margin-left: auto;
    margin-right: auto;
}

.hbtn {
      position: relative;
      box-sizing: border-box;
      display: inline-block;
      overflow: hidden;
      padding: 8px 20px;
      margin: 0px 3px 6px;
      text-align: center;
      border: 1px solid #48494a;
      text-decoration: none;
      color: rgb(255, 255, 255);
      white-space: nowrap;
      z-index: 0;
} 
 

.hbtn i {
      padding-right: 8px;
} 
 

.hb-border-bottom-br4 {
      position: relative;
      transition-duration: 0.3s;
      overflow: visible;
      box-sizing: border-box;
      border: none;
      padding: 10px 22px;
} 
 

.hb-border-bottom-br4::after {
      box-sizing: border-box;
      position: absolute;
      width: 100%;
      height: 100%;
      content: "";
      border: 2px solid #48494a;
      z-index: 2;
      margin: 0px;
      left: 0px;
      bottom: 0px;
      border-top-width: 2px;
      transition: border-top-width 0.1s ease 0.2s, height 0.2s ease 0.1s, width 0.2s ease 0s, margin 0.2s ease 0s, border-bottom-width 0.2s ease 0s;
} 
 

.hb-border-bottom-br4:hover::after {
      width: 60%;
      height: 0px;
      border-width: 0px 2px 4px;
      margin: 0px 20%;
      transition: border-top-width 0.1s ease 0s, height 0.2s ease 0.1s, width 0.2s ease 0.2s, margin 0.2s ease 0.2s, border-bottom-width 0.2s ease 0.2s;
} 
 

.hpad2 {
      padding: 12px 24px !important;
} 
 

.hbor2 {
      border-width: 2px;
} 
 

.hbor2::before {
      border-width: 2px !important;
} 
 
